/**
	FONTS
 */

@font-face {
	font-family: 'PPNeueMontreal Medium';
	src: url('./assets/fonts/PPNeueMontreal-Medium.woff2');
	src: url('./assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
		url('./assets/fonts/PPNeueMontreal-Medium.woff') format('woff'),
		url('./assets/fonts/PPNeueMontreal-Medium.ttf') format('truetype'),
		url('./assets/fonts/PPNeueMontreal-Regular.otf') format('otf');
}

@font-face {
	font-family: 'PPNeueMontreal Regular';
	src: url('./assets/fonts/PPNeueMontreal-Regular.woff2');
	src: url('./assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
		url('./assets/fonts/PPNeueMontreal-Regular.woff') format('woff'),
		url('./assets/fonts/PPNeueMontreal-Regular.ttf') format('truetype'),
		url('./assets/fonts/PPNeueMontreal-Regular.otf') format('otf');
}

/**
	CORE
 */

* {
	box-sizing: border-box;
	font-family: 'PPNeueMontreal Medium', sans-serif !important;
}

iframe {
	display: none;
}

body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.2px;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
